body {
    font-family: sans-serif;
}

h1, h2{
    text-align: center;
}

header{
    background-color: yellow;
    border-radius: 10px;
    border: 2px solid black;
    padding: 15px;
    margin: 10px;
}

header a{
    text-decoration: none;
    background-color: yellow;
    color: black;
    padding: 3px;
    border: 2px solid black;
    border-radius: 10px;
}

main li{
    margin: 5px;
    padding: 5px;
}

main p{
    font-size: 20px;
}

footer{
    background-color: black;
    padding: 10px;
}

footer p{
    color:white;
}

nav a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: yellow;
    padding: 3px;
}
